<launch>
    <node pkg="vector79" type="light_system.py" name="light_system"/>
    <node pkg="vector79" type="lcd_output.py" name="lcd_output"/>
    <node pkg="raspicam" type="raspicam_node" name="camera">
	 <param name="framerate" value="72"/>
	 <param name="quality" value="10"/>
	 <param name="width" value="320"/>
	 <param name="height" value="240"/>
    </node>
    <node pkg="rosservice" type="rosservice" name="camera_start" args="call --wait /camera/start_capture"/>
</launch>
