<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link">
    <visual>
     <!--  <geometry>
		<box size="0.56 0.3 0.22"/>
      </geometry> -->
      <geometry>
   		<mesh filename="package://vector79/traxxas.dae"/>
   	  </geometry>
      <origin xyz="0 0 0"/>
    </visual>
  </link>
</robot>